<div class="fondoContainer">
  <div class="container">
    <div style="" class="loginCard">
      <h2 class="heading flow-text">Conectarse - UNIMETChat</h2>
      <input [(ngModel)]="email"
             type="email"
             name="email"
             class="formInput" />
      <input type="password"
             [(ngModel)]="password"
             name="password"
             class="formInput" />
      <button class="btn orange accent-4"
              id="btn-login"
              (click)="login()">
        Log In
      </button>
    </div>
  </div>
 </div>
